<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= image_tag "logo", alt: "alttext", height: 60, class: "d-inline-block align-top" %>
        Pessymus Cocktails
      </nav>

    <header>
      <div class="banner d-flex flex-column justify-content-center align-items-center">
        <h1>Chegou Pessymus Cocktails</h1>
        <h2>Porque coquetel bom mesmo é coquetel barato</h2>
      </div>
    </header>
      <%= yield %>
  </body>
</html>
